<form method="POST" action="/registration">
    {{#if error}}
    <p class="error">Oh oh, an error has occurred!</p>
    {{/if}}
    <div id="welcome">
            <div class="texts">
                <p>We are against the use of harmful pesticides in our food</p>
            </div>      
            <img id="welcomeimg" src="welcome.png" width="400p" height="300">
    </div>
     <div class="please-sign">
                <p>Please register to sign our petition:</p>
            </div> 
    <div class="registration-flex-container">
        <div class="registration">
            <label>First name </label>
            <input type="text" name="first" autocomplete="off" />

            <label>Last name</label>
            <input type="text" name="last" autocomplete="off" />

            <label>Email</label>
            <input type="text" name="email" autocomplete="off" />

            <label>Password</label>
            <input type="password" name="password" />
        
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <button name="signin">Sign in</button>
        </div>
        <div class="login">
            <p>Already a member? Please log in:</p>
            <div class="login-link">
                <a href="/login">Log in</a>
                <img id="fertilizerimg" src="fertilizer.png">
            </div>
        </div>
    </div>
    
</form>
